* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
:root {
    --squareSize: 22px;
}

#chess-app {
    width: 100vw;
    height: 100vh;
    background-image: url(../src/img/chess-1697301.jpg);
    background-position: 40%;
    background-size: cover;
    position: relative;
    display: flex;
}
#chessBoard{
    display: grid;
    grid-template-columns: repeat(10, var(--squareSize));
    grid-template-rows: repeat(10, var(--squareSize));
    justify-content: center;
    position: absolute;
}
#opponentFile{
    display: grid;
    grid-template-columns: repeat(10, var(--squareSize));
    grid-column: 1 / span 10;
}
#myRank{
    display: grid;
    grid-template-rows: repeat(8, var(--squareSize));
    grid-row: 2 / span 8;
}
#board{
    display: grid;
    grid-template-columns: repeat(8, var(--squareSize));
    grid-template-rows: repeat(8, var(--squareSize));
    grid-column: 2 / span 8;
    grid-row: 2 / span 8;
}
#opponentRank{
    display: grid;
    grid-template-rows: repeat(8, var(--squareSize));
    grid-row: 2 / span 8;
}
#myFile{
    display: grid;
    grid-template-columns: repeat(10, var(--squareSize));
    grid-column: 1 / span 10;
}

.box{
    background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(76,76,76,1) 59%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(17,17,17,1) 92%,rgba(17,17,17,1) 92%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 93%,rgba(17,17,17,1) 94%,rgba(44,44,44,1) 94%,rgba(44,44,44,1) 94%,rgba(17,17,17,1) 94%,rgba(19,19,19,1) 100%);
    border: 1px solid black;
}
.rank{

    text-align: center;
    line-height: var(--squareSize);
    font-size: 2rem;
    background: linear-gradient(45deg, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 93%,rgba(140,51,16,1) 93%,rgba(140,51,16,1) 100%,rgba(117,34,1,1) 100%,rgba(191,110,78,1) 100%,rgba(140,51,16,1) 100%,rgba(117,34,1,1) 102%);
}
.file{
    text-align: center;
    line-height: var(--squareSize);
    font-size: 2rem;
    background: linear-gradient(45deg, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 93%,rgba(140,51,16,1) 93%,rgba(140,51,16,1) 100%,rgba(117,34,1,1) 100%,rgba(191,110,78,1) 100%,rgba(140,51,16,1) 100%,rgba(117,34,1,1) 102%);
}
.corner{
    text-align: center;
    background: linear-gradient(45deg, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 93%,rgba(140,51,16,1) 93%,rgba(140,51,16,1) 100%,rgba(117,34,1,1) 100%,rgba(191,110,78,1) 100%,rgba(140,51,16,1) 100%,rgba(117,34,1,1) 102%);
}
.rotate {
    transform: rotate(180deg);
}
.box:nth-child(-2n+8),
.box:nth-child(8) ~ .box:nth-child(-2n+15),
.box:nth-child(16) ~ .box:nth-child(-2n+24),
.box:nth-child(24) ~ .box:nth-child(-2n+31),
.box:nth-child(32) ~ .box:nth-child(-2n+40),
.box:nth-child(40) ~ .box:nth-child(-2n+47),
.box:nth-child(48) ~ .box:nth-child(-2n+56),
.box:nth-child(56) ~ .box:nth-child(-2n+63)
{
  background: linear-gradient(135deg, rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
  color: #fff;
}
@media (orientation: portrait){
    #chess-app {
        justify-content: center;
    } 
    #chessBoard{
        top: 50px;
    } 
}
@media (orientation: landscape){
    #chess-app {
        align-items: center;
    }  
}
@media (min-width: 359px) and (orientation: portrait){
    :root {
        --squareSize: 30px;
    }
}
@media (min-width: 567px) and (orientation: landscape){
    #chessBoard{
        left: 40px;
    }
}
@media (min-width: 639px) and (orientation: landscape){
    :root {
        --squareSize: 25px;
    }
}
@media (min-width: 410px) and (orientation: portrait){
    :root {
        --squareSize: 35px;
    }
}
@media (min-width: 730px) and (orientation: landscape){
    #chessBoard{
        left: 40px;
    }
    :root {
        --squareSize: 30px;
    }
}
@media (min-width: 820px) and (orientation: landscape){
    #chessBoard{
        left: 40px;
    }
    :root {
        --squareSize: 32px;
    }
}
@media (min-width: 820px) and (orientation: landscape){
    #chessBoard{
        left: 40px;
    }
    :root {
        --squareSize: 32px;
    }
}
@media (min-width: 1023px) and (orientation: landscape){
    #chessBoard{
        left: 60px;
    }
    :root {
        --squareSize: 45px;
    }
}
@media (min-width: 767px) and (orientation: portrait){
    :root {
        --squareSize: 55px;
    }
}
@media (min-width: 1365px) and (orientation: landscape){
    #chessBoard{
        left: 80px;
    }
    :root {
        --squareSize: 60px;
    }
}
@media (min-width: 1023px) and (orientation: portrait){
    :root {
        --squareSize: 75px;
    }
}
