@import 'mixins';

:root{
    --squareSize: calc(10vh - 15px);
}

*{
    box-sizing: border-box;
}

html{
    &, body, #chess-app{
        margin:0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    body{
        font-family: $lato;
        background-color: $gray;
        color: $black;
        #chess-app{
            display: grid;
            width: 100%;
            grid-template-rows: 80px calc(100% - 80px);
            grid-template-columns: 50% 50%;
            &.wow{
                display: block;
                -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, -65deg) scale3d(1, 1, 1);
                transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, -65deg) scale3d(1, 1, 1);
                perspective: 70vw;
                #chessBoard{
                    -webkit-transform: scale3d(1, 1, 2) rotate3d(1, 0, 0, 65deg);
                     transform: scale3d(1, 1, 2) rotate3d(1, 0, 0, 65deg);
                }
            }
            #chessBoard{
                display: grid;
                width: calc(100% - 80px);
                height: calc(100% - 80px);
                margin: 40px;
                grid-column-start: 1;
                grid-row-start: 2;
                justify-content: center;
                grid-template-columns: repeat(10, var(--squareSize));
                grid-template-rows: repeat(10, var(--squareSize));
                #opponentFile{
                    display: grid;
                    grid-template-columns: repeat(10, var(--squareSize));
                    grid-column-start: 1;
                    grid-column-end: 11;
                    grid-row-start: 1;
                    grid-row-end: 1;
                }
                #opponentRank{
                    display: grid;
                    grid-template-columns: var(--squareSize);
                    grid-template-rows: repeat(8, var(--squareSize));
                    grid-column-start: 10;
                    grid-column-end: 10;
                    grid-row-start: 2;
                    grid-row-end: 10;
                }
                #myFile{
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(10, var(--squareSize));
                    grid-column-start: 1;
                    grid-column-end: 11;
                    grid-row-start: 10;
                    grid-row-end: 10;
                }
                #myRank{
                    display: grid;
                    grid-template-columns: var(--squareSize);
                    grid-template-rows: repeat(8, var(--squareSize));
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 2;
                    grid-row-end: 10;
                }
                .rank, .file{
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    font-size: 14px;
                    text-shadow: 1px 1px 1px $blue;
                    background: $light-gray;
                    color: $white;
                    box-shadow: 0 0 1px $black;
                }
                #board{
                    display: grid;
                    grid-column-start: 2;
                    grid-column-end: 10;
                    grid-row-start: 2;
                    grid-row-end: 10;
                    .board-container{
                        display: grid;
                        grid-template-rows: repeat(8, var(--squareSize));
                        .board-row{
                            display: grid;
                            grid-template-columns: repeat(8, var(--squareSize));
                            &#row-1 {
                                order: 8;
                            }
                            &#row-2 {
                                order: 7;
                            }
                            &#row-3 {
                                order: 6;
                            }
                            &#row-4 {
                                order: 5;
                            }
                            &#row-5 {
                                order: 4;
                            }
                            &#row-6 {
                                order: 3;
                            }
                            &#row-7 {
                                order: 2;
                            }
                            &#row-8 {
                                order: 1;
                            }
                            &#row-1, &#row-3, &#row-5, &#row-7{
                                .box:nth-child(2n - 1){
                                    background: $logo-blue;
                                }
                                .box:nth-child(2n){
                                    background: $white;
                                }
                            }
                            &#row-2, &#row-4, &#row-6, &#row-8{
                                .box:nth-child(2n - 1){
                                    background: $white;
                                }
                                .box:nth-child(2n){
                                    background: $logo-blue;
                                }
                            }
                            .box{
                                box-shadow: 0 0 1px $gray;
                                position: relative;
                                display: grid;
                                justify-content: center;
                                align-content: center;
                                &.active:after, &.beating:after{
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    opacity: .5;
                                }
                                &.active:after{
                                    background-color: $natural-green !important;
                                }
                                &.beating:after{
                                    background-color: $red !important;
                                }
                                img, object {
                                    max-width: var(--squareSize);
                                    max-height: var(--squareSize);
                                    &.white{
                                        -webkit-filter: brightness(1.3); /* safari 6.0 - 9.0 */
                                        filter: brightness(1.3);
                                    }
                                    &.black{
                                        -webkit-filter: brightness(0.3); /* safari 6.0 - 9.0 */
                                        filter: brightness(0.3);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            h3#codersLogo{
                font-family: $sarpanch;
                font-size: 40px;
                padding: 20px;
                color: $white;
                text-align: right;
                align-self: center;
                line-height: 1;
                grid-column-start: 2;
                grid-row-start: 1;
                .themecolor{
                    color: $logo-blue;
                }
            }
            #gameSettings{
                display: grid;
                width: calc(100% - 80px);
                height: calc(100vh - 150px);
                margin: 40px;
                grid-template-columns: 100%;
                grid-template-rows: calc(100% - 200px) 100px 100px;
                grid-row-start: 2;
                justify-content: space-around;
                background: #666;
                #names, #timers, #gameButtons{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    div{
                        padding: 20px;
                        text-align: center;
                        font-size: 24px;
                        text-transform: uppercase;
                        color: $white;
                        box-shadow: 0 0 1px $gray;
                        margin: 0;
                    }
                }
                #timers{
                    grid-row-start: 2;
                    #secondPlayerTimers{
                        grid-column-start: 2;
                    }
                }
                #gameButtons{
                    grid-row-start: 3;
                    button{
                        background-color: $blue;
                        color: $white;
                        padding: 10px 40px;
                        cursor: pointer;
                        font-size: 18px;
                        border: none;
                        border-radius: 2px;
                    }
                }
                #timers, #gameButtons{
                    div{
                        padding: 20px;
                        display: grid;
                        justify-items: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (orientation: landscape) and (max-height: 430px){
    html{
        body{
            #chess-app{
                h3#codersLogo{
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}

@media (orientation: landscape) and (max-width: 1023px){     
    :root{
        --squareSize: calc(10vh - 1px);
    }
    html{
        body{
            #chess-app{
                grid-template-rows: 30px calc(100% - 30px);
                grid-template-columns: 100vh calc(100% - 100vh);
                #chessBoard{
                    margin: 5px;
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                }
                #gameSettings{
                    width: calc(100% - 8px);
                    height: calc(100vh - 35px);
                    margin: 0px;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: calc(50% - 42px) calc(50% - 50px) 92px;
                    grid-row-start: 2;
                    background: none;
                    #names > div, #timers > div, #gameButtons > div{
                        font-size: 12px;
                    }
                    #names, #timers{
                        grid-template-columns: 50% 50%;
                        grid-column-start: 1;
                        grid-column-end: 3;
                        padding: 0;
                        & > div{
                            box-shadow: 0 0 1px #666;
                        }
                    }
                    #gameButtons{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        & > div{
                            grid-column-start: 1;
                            grid-column-end: 3;
                            margin-top: 5px;
                            padding: 0;
                            button{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (orientation: portrait){     
    :root{
        --squareSize: calc(10vw - 1px);
    }
    html{
        body{
            #chess-app{
                grid-template-rows: 80px calc(100vw + 20px) calc(100vh - 100vw - 110px);
                grid-template-columns: 100%;
                #chessBoard{
                    margin: 0;
                    grid-column-start: 1;
                    grid-row-start: 2;
                    grid-row-end: 3;
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                }
                h3#codersLogo{
                    grid-column-start: 1;
                    grid-row-start: 1;
                    text-align: center;
                }
                #gameSettings{
                    width: calc(100% - 8px);
                    height: calc(100vh - 35px);
                    margin: 0px;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 60px calc(100vh - 100vw - 265px) 92px;
                    grid-row-start: 3;
                    background: none;
                    #names > div, #timers > div, #gameButtons > div{
                        font-size: 12px;
                    }
                    #names, #timers{
                        grid-template-columns: 50% 50%;
                        grid-column-start: 1;
                        grid-column-end: 3;
                        padding: 0;
                        & > div{
                            box-shadow: 0 0 1px #666;
                        }
                    }
                    #gameButtons{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        & > div{
                            grid-column-start: 1;
                            grid-column-end: 3;
                            margin-top: 5px;
                            padding: 0;
                            button{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
