@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@600&display=swap');

// brand colors:
$white: #fff;
$light-gray: #666;
$gray: #292929;
$dark-gray: #1c1c1c;
$black: #000;
$logo-blue: #1a90ff;
$light-blue: #5ca9fe;
$blue: #0075ff;
$dark-blue: #0a6ed8;
$marine-blue: #3574fe;
$turquoise: #13c3c3;
$green: #54c51b;
$natural-green: #4ac45e;
$purple: #953de8;
$red: #cf000f;
$orange: #f9690e;

// brand fonts
$lato: 'Lato', sans-serif;
$sarpanch: 'Sarpanch', sans-serif;

$square-size: calc(10vh - 15px);
